.usr-body{
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.usr-image{
    padding: 25px;
}
.usr-image img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.usr-info{
    padding: 5px;
}
.addBtn{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
}